# ==========================================
# HELP
# ==========================================
HELP.md

# ==========================================
# MAVEN / BUILD
# ==========================================
target/
build/
!.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ==========================================
# ENV / SECRETS
# ==========================================
.env
.env.*
application-local.properties
application-dev.properties
application-prod.properties

# ==========================================
# LOGS
# ==========================================
logs/
*.log

# ==========================================
# DOCKER
# ==========================================
docker-compose.override.yml

# ==========================================
# STS
# ==========================================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ==========================================
# INTELLIJ
# ==========================================
.idea
*.iws
*.iml
*.ipr

# ==========================================
# NETBEANS
# ==========================================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ==========================================
# VS CODE
# ==========================================
.vscode/

# ==========================================
# OS FILES
# ==========================================
.DS_Store
Thumbs.db